<div class="background"></div>
    <div class = "lower">
        <h1>MAJESTIC THEATRE</h1>
        <p>
            Welcome to Majestic Theatre, where we strive to make you movie experience as dreamy as possible. <br>
            Visit us today and watch a movie of your choice. <br>
            Hope to see you soon.
        </p>
        <div class = "hours">
            <div>
                <p>Hours <br>
                Monday <br>
                Tuesday <br>
                Wednesday <br>
                Thursday <br>
                Fri - Sun</p>
            </div>
        </div>
        <div class = "hours" >
            <div>
                <p>Times <br>
                11:00 am - 10:00pm <br>
                11:00 am - 10:00pm <br>
                11:00 am - 10:00pm <br>
                11:00 am - 10:00pm <br>
                11:00 am - 12:00pm</p>
            </div>
        </div>
    </div>
