<div class="background"></div>
    <div class = "lower">
        <h1>MAJESTIC THEATRE</h1>
        <p>
            Welcome to Majestic Theatre, where we strive to make you movie experience as dreamy as possible. <br>
            Visit us today and watch a movie of your choice. <br>
            Hope to see you soon.
        </p>
        <table>
            <colgroup>
            <col style="width: 139px">
            <col style="width: 244px">
            </colgroup>
            <thead>
              <tr>
                <th>Days</th>
                <th>Hours</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Monday </td>
                <td>11:00 AM - 10:00 PM</td>
              </tr>
              <tr>
                <td>Tuesday</td>
                <td>11:00 AM - 10:00 PM</td>
              </tr>
              <tr>
                <td>Wednesday</td>
                <td>11:00 AM - 10:00 PM</td>
              </tr>
              <tr>
                <td>Thursday</td>
                <td>11:00 AM - 10:00 PM</td>
              </tr>
              <tr>
                <td>Friday</td>
                <td>11:00 AM - 12:00 AM</td>
              </tr>
              <tr>
                <td>Saturday</td>
                <td>11:00 AM - 12:00 AM</td>
              </tr>
              <tr>
                <td>Sunday</td>
                <td>11:00 AM - 12:00 AM</td>
              </tr>
            </tbody>
            </table>
            <br>
            <br>
              <br> 1000 West Avenue, Suite 2000 Fargo, ND 58102              
              <br>
              (701)-333-3333
              <br>
              <br>
              <br>
              <footer class="footer">@2022 THE MAGISTIC CORPORATION. ALL RIGHTS RESERVED</footer>
    </div>
