<div class="background"></div>
    <div class = "lower">
        <h1>MAJESTIC THEATRE</h1>
        <p>
            Welcome to Majestic Theatre, where we strive to make you movie experience as dreamy as possible. <br>
            Visit us today and watch a movie of your choice. <br>
            Hope to see you soon.
        </p>
        <div class = "hours">
            <div>
                <p>stuff and things</p>
            </div>
        </div>
        <div class = "hours" >
            <div>
                <p>more stuff</p>
            </div>
        </div>
    </div>
