<div class="container" style="margin-top: 70px;">

    <form class = "form">
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">First name</label>
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Last name</label>
                </div>
            </div>
        </div>

        <div class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control" />
            <label class="form-label" for="form3Example3">Email address</label>
        </div>

        <div class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control" />
            <label class="form-label" for="form3Example3">Card Number</label>
        </div>
        
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">Expiration Date</label>
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <input type="password" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">CCV</label>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" placeholder="{{movie.title}}" readonly  />
                    <label class="form-label" for="form3Example1">Movie</label>
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <select class="form-control" id="exampleFormControlSelect1">
                            <option *ngFor='let time of movie.times'>{{time}}</option>
                      </select>
                    <label class="form-label" for="form3Example2">Times</label>
                </div>
            </div>
        </div>
        <div class = "col text-center">
            <button class=" btn btn-dark" > Confirm Ticket</button> 
        </div>         
    </form>
</div>