<div class="wrapper">
    
    <div class = "container left" *ngIf="movie"> 
            <img class="poster" [src]="movie.poster" [alt]="movie.title">
       
    </div>
    <div class = "container right" *ngIf = "movie">
            <h1 class = "title" *ngIf = "movie"> {{movie.title}}</h1>
            <div class="info">
                <h5>MOVIE DESCRIPTION</h5>
                <p>{{movie.description}}</p>
                <h5>GENRE</h5>
                <p>{{movie.genre}}</p>
                <h5>VIEWING TIMES</h5>
                <div *ngFor='let time of movie.times'>{{time}}</div>
                <button class=" btn btn-dark" (click)="getMovieInfo(movie)" routerLink="/reserve-ticket"> Reserve Tickets</button>
                
                
            </div>
    </div>
</div>
    
    



